.hero {
    background-color: #ffffff;
    padding: 40px;
    margin: 20px;
    border-radius: 40px;
    min-height: 150vh;
    
}

.p1 {
    font-size: 20px;
}

h1{
    font-size: 50px;
    margin-bottom: 30px;
}

#map {
	height: 400px;
	width: 60%;
    margin: 0 auto;
    margin-top: 50px;
}

.formulario {
    width: 80%;
    max-width: 2000px;
    font-size: 25px;
    margin: 0 auto;
    margin-top: 100px;
}

label {
    font-weight: bold;
    margin-bottom: 8px;
    display: block;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 15px;
    background-color: #d6e9d8;
    margin-bottom: 20px;
    font-size: 16px;
    font-family: Arial, sans-serif;
}

textarea {
    resize: none;
}

@media (max-width: 768px) {
    /* Ajustes del contenedor principal */
    .hero {
      padding: 20px;
      margin: 10px;
      min-height: auto;
    }
  
    /* Ajustes del texto */
    .p1 {
      font-size: 16px;
      text-align: center;
    }
  
    h1 {
      font-size: 30px;
      margin-bottom: 20px;
      text-align: center;
    }
  
    p {
      font-size: 14px;
      line-height: 1.6;
      text-align: justify;
    }
  
    /* Ajustes del mapa */
    #map {
      height: 300px;
      width: 100%;
      margin: 20px 0;
    }
  
    /* Ajustes del formulario */
    .formulario {
      width: 100%;
      margin-top: 50px;
      font-size: 16px;
    }
  
    input[type="text"],
    input[type="email"],
    textarea {
      padding: 10px;
      font-size: 14px;
    }
  
    textarea {
      height: 100px;
    }
  
    /* Ajustes del footer */
    footer {
      text-align: center;
      padding: 10px;
      font-size: 12px;
    }
  
    footer img {
      width: 80px;
      margin-top: 10px;
    }
  }
  