.hero {
    background-color: #ffffff;
    padding: 40px;
    margin: 20px;
    border-radius: 40px;
    min-height: 90vh;
}

.hero .p1 {
    font-size: 20px;
    font-weight: 400;
}

.hero h1{
    font-size: 50px;
    font-weight: 100;
    margin-bottom: 10px;
}

.hero .section1{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 18px;
}

.hero .section1 h1{
    font-size: 50px;
    font-weight: 100;
    margin-bottom: 10px;
}

.hero .section1 p{
    font-size: 20px;
    font-weight: 400;
}

.hero .section1 img {
    height: 50vh;
    margin-top: 15px;
}

.hero .section2 {
    
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    white-space: normal;
}

.hero .tarjeta{
    max-width: 70vh;
    height: 60vh;
    background-color: #d8e4d4;
}

.hero .section2 img{
    width: 70vh;
    height: 25vh;
    
}

.hero .subsection {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero .subsection p {
    margin-top: 13px;
}


.section2 .subsection .button {
    background: rgba(255, 120, 62, 1);
    color: #fff;
    font-size: 18px;
    padding: 15px 30px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    display: block;
    width: 100%;
    text-align: center;
    margin-top: 20px;
    transition: background-color 0.3s ease;

}

.section2 .subsection .button:hover {
    background-color: #3d7a37;
}
