.hero {
    background-color: #ffffff;
    padding: 40px;
    margin: 20px;
    border-radius: 40px;
    min-height: 150vh;
}


.section1 p {
    font-size: 2rem;
}

.hero .section1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 2rem;
}

.hero .section1 h1 {
    font-size: 4rem;
    font-weight: 100;
}


.hero .section1 img {
    margin-top: 15px;
}

.hero .section2 {

    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    white-space: normal;
}

.hero .tarjeta {
    max-width: 70vh;
    height: 70vh;
    background-color: #d8e4d4;
}

.hero .section2 img {
    width: 70vh;
    height: 25vh;

}

.hero .subsection {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero .subsection p {
    margin-top: 13px;
    font-size: 2rem;
}


.section2 .subsection .button {
    margin-top: 50px;
    width: 300px;
    text-align: center;
    background-color: #ff783e;
    padding: 15px 50px 15px 50px;
    border-radius: 47px;
    font-size: 2rem;
    text-decoration: none;
    color: #ffffff;
    transition: background-color 0.3s ease;

}

.section2 .subsection .button:hover {
    background-color: #CA511D;
}

.hero .section2 .tarjeta .subsection h2 {
    font-size: 3rem;
    font-weight: 100;
}

.imagen-educacion {
    width: 100%;
    /* Ensure it scales to fit the container */
    height: auto;
    /* Maintain aspect ratio */
}

/* Responsive */
@media (max-width: 768px) {
    .hero .section2 {
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }

    .imagen-educacion {
        object-fit: cover;
        /* Crop the image */
        object-position: center;
        /* Focus on the center */
        height: 100px;
        /* Set a fixed height to define the crop area */
    }

    .section1 img {}

    .section1 p {
        font-weight: 400;
        text-align: center;
        line-height: 28.8px;
        margin-top: 20px;
    }

    .hero .tarjeta {
        width: 90%;
        height: 120vh;
        margin-bottom: 2vh;

    }

    .hero .tarjeta img {
        width: 100%;
    }

    .hero {
        padding: 20px;
        margin: 10px;
    }

    .section2 .subsection .button {
        width: 100%;
    }
}