.hero {
  background-color: #ffffff;
  padding: 40px;
  margin: 20px;
  border-radius: 40px;
  min-height: 100vh;
}

.hero .p1 {
  font-size: 20px;
  font-weight: 400;
}


.hero h1 {
  font-size: 50px;
  font-weight: 100;
  margin-bottom: 10px;
  line-height: 76.8px;
}

.hero section img {
  margin-bottom: 25px;
  width: 100%;
}

.hero .p2 {
  font-size: 24px;
  margin-top: 25px;
  font-weight: 400;
}

.faq-section h1 {
  text-align: center;
  color: #2a2a2a;
}

.faq-section p {
  text-align: center;
  margin-bottom: 30px;
  color: #4a4a4a;
}

.faq {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 30px;

}


.faq-question {
  width: 100%;
  background-color: rgba(209, 229, 211, 1);
  padding: 15px;
  text-align: left;
  font-size: 24px;
  color: black;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 57px;
  border-radius: 6px;
  border: none;
  font-weight: 400;
  font-family: "Katibeh", serif;
}

.faq-question:hover {
  background-color: #d7f0d7;
}



.faq-answer {
  max-height: 0;
  overflow: hidden;
  padding: 0;
  background-color: rgba(80, 160, 72, 1);
  color: #2a2a2a;
  font-size: 18px;
  border-radius: 6px;
  transition: max-height 0.3s ease, padding 0.3s ease;
}

.faq-question .faq-icon {
  font-weight: bold;
  color: #2a7a2a;
}

.faq-item.active .faq-answer {
  max-height: 300px;
  /* Ajusta según el contenido */
  padding: 15px;
}

.faq-item.active .faq-question {
  background-color: #c8e6c9;
}

.faq-item.active .faq-icon {
  transform: rotate(45deg);
}

/* Ajustes generales para dispositivos móviles */
@media (max-width: 768px) {
  body {
    margin: 0;
    padding: 0;
  }

  .Logo h3 {
    font-size: 1.5rem;
    margin-top: 5px;
  }

  .hero {
    margin-top: 70px;
    padding: 20px;
    min-height: 60vh;
  }

  .hero h1 {
    font-size: 1.8rem;
    line-height: 2.2rem;
    text-align: center;
  }

  .hero .p1,
  .hero .p2 {
    font-size: 1rem;
    text-align: center;

  }

  .faq {
    gap: 15px;
  }

  .faq-question {
    font-size: 1rem;
    padding: 10px;
    height: auto;
  }

  .faq-answer {
    font-size: 0.9rem;
  }

  footer {
    text-align: center;
    padding: 10px;
  }

  footer img {
    width: 100px;
  }
}