.hero {
    background-color: #ffffff;
    padding: 40px;
    margin: 20px;
    border-radius: 40px;
    min-height: 100vh;
}

.hero .p1 {
    font-size: 2em;
    font-weight: 400;
}


.hero h1 {
    font-size: 4em;
    font-weight: 100;
    margin-bottom: 10px;
    line-height: 76.8px;
}

.hero .p2 {
    font-size: 2em;
    margin-top: 25px;
    font-weight: 400;
}

.hero p {
    font-size: 2em;
}


.cards {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

    margin-top: 120px;

}

.card {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease-in-out;
    text-align: center;
}

.card .imgs {
    display: flex;
    flex-direction: column;

}

.card img {
    width: 100px;
    margin: 0 auto;
}

.card .imgs1 {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
}

.card .imgs2 {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    gap: 20px;
}

.card:hover {
    transform: translateY(-10px);
}

h2 {
    font-size: 2rem;
    margin-bottom: 10px;
    color: #000;
}