.hero {
    background-color: #ffffff;
    padding: 40px;
    margin: 20px;
    border-radius: 40px;
    min-height: 90vh;
}

.hero .p1 {
    font-size: 20px;
}

.hero h1{
    font-size: 50px;
    font-weight: 100;
    margin-bottom: 10px;
}

.subsection {
    display: flex;
    justify-content: space-evenly;
    margin-top: 150px;
    
}

.subsection .tarjeta {
    background-color: #d8e4d4;
    height: 50vh;
    max-width: 35vh;
    
}

.subsection .tarjeta .textos {
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subsection .tarjeta .textos h2 {
    font-weight: 100;
    margin-bottom: 10px;
}

.button {
    margin-top: 22px;
    width: 200px;
    text-align: center;
    background-color: #ff783e;
    padding: 13px 50px 13px 50px;
    border-radius: 47px;
    font-size: 20px;
    text-decoration: none;
    color: #ffffff;
    

}

.hero #img1 {
    width: 100%;
    margin-top: 15px;
}

.hero #subtexto1 {
    margin-top: 20px;
    font-size: 24px;
}

.hero .icons{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
    text-align: center;
    margin-top: 80px;
}


.hero .button2 {
    background: rgba(255, 120, 62, 1);
    padding: 20px;
    border-radius: 47px;
    width: 40px;
    margin-top: 50px;
}